!!! 5
%html
  %head
    %title Blog
    = render :partial => 'layouts/scripts'
  %body
    - if current_user
      = current_user.email
    - else

    - unless notice.blank?
      .success
        = notice
    - unless alert.blank?
      .alert
        = alert

    #main_content
      = yield 


